
html {
    background-color: rgb(39, 55, 71);
    height: 100%;
}

.recipe-intro {
    display: flex;
    padding: 50px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-intro .finished-dish {
    width: 400px;
    border-radius: 20px;
    max-width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.recipe-intro .recipe-header {
    font-size: 14px;
    width: 25%;
    color: white;
    flex: 1 1 320px;
}

.recipe-header h1 {
    color: aqua;
}

.recipe-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 50px;
    justify-content: center;
    gap: 15px;
}

.recipe-content > * {
    border: 2px solid gray;
    border-radius: 25px;
    padding: 15px;
}

.ingredients {
    flex-basis: 20%;
}

.ingredients h2 {
    color: aqua;
}

.steps {
    flex-basis: 75%;
}